.questionBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 12rem 0rem;
  box-sizing: border-box;



  @media screen and (max-width: 768px) {
    justify-content: space-between;
    padding: 0 0 2rem 0;
  }

    .openProgressBtn {
      padding: 2rem;
      height: 1.5rem;
      width: 1.5rem;
      background: url("../../assets/img/burger-icon.svg") center/15px no-repeat;
    }
 }