@import "public/main";

.button {
  width: 25rem;
  min-width: 25rem;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  background-color: $orange-100;
  outline: none;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
color: #FFFFFF;
  cursor: pointer;

  &:hover {
    background-color: $orange-80;
  }

  &:active {
    background-color: $orange-120;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}