@import "public/main";
.hexagon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &::before {
    content:'';
    position: absolute;
    top: 50%;
    left:0;
    width: 100%;
    height: 1px;
    background-color: $black-40;
  }


  .background {
    position: absolute;
    width: 80%;


    path {
      fill: $white-100;
      stroke: $black-40;
    }
  }
}


.selected {
  .background {
    path{
      fill: $orange-5;
      stroke: $orange-100;
    }
  }

  &::before {
    background-color: $orange-100;
  }
}

.correct {
 .background {
   path{
     fill: $green-5;
     stroke: $green-100;
   }
 }

  &::before {
    background-color: $green-100;
  }
}

.wrong {
  .background {
    path{
      fill: $red-5;
      stroke: $red-100;
    }
  }

  &::before {
    background-color: $red-100;
  }
}

.active {
  .background {
    path{
      fill: $white-100;
      stroke: $orange-100;
    }
  }

  &::before {
    background-color: $orange-100;
  }
}

.disable {
  .background {
    path{
      fill: $white-100;
      stroke: $black-40;
    }
  }

  &::before {
    background-color: $black-40;
  }
}

.hover {
  @media screen and (min-width: 1024px) {
    &:hover path{
      stroke: $orange-100;
    }

    &:hover::before {
      background-color: $orange-100;
    }
  }
}